colorPickerClient/(Objects*
colorPickerClient/BeApp
colorPickerClient/*.pld
simpleColorPicker/(Objects*
simpleColorPicker/BeApp
simpleColorPicker/*.pld
crayonColorPicker/\(Objects*
crayonColorPicker/BeApp
crayonColorPicker/*.pld
coloredPencilColorPicker/\(Objects*
coloredPencilColorPicker/BeApp
coloredPencilColorPicker/*.pld
hexagonalColorPicker/\(Objects*
hexagonalColorPicker/BeApp
hexagonalColorPicker/*.pld
